@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Evita ligaduras tipográficas no deseadas en contexto clínico */
  body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}
